@model Ifa.Model.PageLink
<td><a href="@Model.GetUrl()" @Ifa.Helpers.IfaHelper.GetAjaxAttributes((AjaxOptions)ViewData["ajaxOptions"])><span class="csb ch" style="background-position:-74px 0;width:20px"></span>@Model.GetText()</a></td>