@using Ifa.Model
@using Ifa.Helpers

@model PagedResultViewModel<Ifa.Sample1.Models.Product>
@Html.Paginate(Model, (itemsPerPage, currentPage) => Url.Action("Index", new { itemsPerPage, currentPage }), new AjaxOptions { OnSuccess = "UpdateProductsTable", LoadingElementId = "loading" })
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Value</th>
        <th>CreatedAt</th>
    </tr>
    </thead>
    <tbody>    
@foreach (var product in Model.Result)
{
@Html.Partial("Product", product)
}
</tbody>
</table>
<img src="@Url.Content("~/Content/images/ajax-loader.gif")" id="loading" style="display:none" />
@Html.Paginate(Model, (itemsPerPage, currentPage) => Url.Action("Index", new { itemsPerPage, currentPage }), new AjaxOptions { OnSuccess = "UpdateProductsTable", LoadingElementId = "loading" }, ifaTheme: "custom")
