@using Ifa.Model
@using Ifa.Helpers

@model PagedResultViewModel<Ifa.Sample1.Models.Product>

<table class="data">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Value</th>
        <th>CreatedAt</th>
    </tr>
    </thead>
    <tbody>    
@foreach (var product in Model.Result)
{
@Html.Partial("Product", product)
}
</tbody>
</table>
<img src="@Url.Content("~/Content/images/ajax-loader.gif")" id="loading" style="display:none" />
@if (string.IsNullOrWhiteSpace(ViewBag.Theme)){
    @Html.Paginate(Model, (itemsPerPage, currentPage) => Url.Action("Index", new { itemsPerPage, currentPage, theme = (string)ViewBag.Theme}), new AjaxOptions { OnSuccess = "UpdateProductsTable", LoadingElementId = "loading" })
}else{ 
    @Html.Paginate(Model, (itemsPerPage, currentPage) => Url.Action("Index", new { itemsPerPage, currentPage, theme = (string)ViewBag.Theme }), new AjaxOptions { OnSuccess = "UpdateProductsTable", LoadingElementId = "loading" }, ifaTheme: (string)ViewBag.Theme)
}
