@model Ifa.Sample1.Models.Product
<tr>
    <td>@Html.DisplayFor(c => c.Id)</td>
    <td>@Html.DisplayFor(c => c.Name)</td>
    <td>@Html.DisplayFor(c => c.Value)</td>
    <td>@Html.DisplayFor(c => c.CreatedAt)</td>
</tr>